<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyc.dao.thirddsmapper.DeptMapper" >
  <resultMap id="BaseResultMap" type="com.hyc.entity.Dept" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="deptName" property="deptname" jdbcType="VARCHAR" />
    <result column="deptNo" property="deptno" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, deptName, deptNo
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_dept
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_dept
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.hyc.entity.Dept" useGeneratedKeys="true" keyProperty="id" >
    insert into t_dept (deptName, deptNo)
    values (#{deptname,jdbcType=VARCHAR}, #{deptno,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.hyc.entity.Dept" useGeneratedKeys="true" keyProperty="id" >
    insert into t_dept
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deptname != null" >
        deptName,
      </if>
      <if test="deptno != null" >
        deptNo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deptname != null" >
        #{deptname,jdbcType=VARCHAR},
      </if>
      <if test="deptno != null" >
        #{deptno,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.hyc.entity.Dept" >
    update t_dept
    <set >
      <if test="deptname != null" >
        deptName = #{deptname,jdbcType=VARCHAR},
      </if>
      <if test="deptno != null" >
        deptNo = #{deptno,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.hyc.entity.Dept" >
    update t_dept
    set deptName = #{deptname,jdbcType=VARCHAR},
      deptNo = #{deptno,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>